.category-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.category-button {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.category-button:hover {
    background-color: #0056b3;
}

#product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-item {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    text-align: center;
}
